#Sunoco portal creds
SUNOCO_USERNAME=
SUNOCO_PASSWORD=

#Sunoco portal urls
SUNOCO_LOGIN_URL=https://portal.sunocolp.com/
SUNOCO_REPORTS_URL=https://portal.sunocolp.com/financial/settlement

#DTN portal details
DTN_LOGIN_URL=https://fuelbuyer.dtn.com/energy
DTN_DATACONNECT_URL=https://fuelbuyer.dtn.com/energy/common/link.do?contentId=750701&parentId=-1
DTN_USERNAME=
DTN_PASSWORD=

# Browser automation
HEADLESS_BROWSER=true
DOWNLOAD_TIMEOUT_SECONDS=60
MAX_RETRIES=3