# Sunoco portal credentials
SUNOCO_USERNAME=
SUNOCO_PASSWORD=

# Sunoco portal URLs
SUNOCO_LOGIN_URL=https://portal.sunocolp.com/
SUNOCO_REPORTS_URL=https://portal.sunocolp.com/financial/settlement


#DTN portal details
DTN_LOGIN_URL=https://fuelbuyer.dtn.com/energy
DTN_DATACONNECT_URL=https://fuelbuyer.dtn.com/energy/common/link.do?contentId=750701&parentId=-1
DTN_USERNAME=
DTN_PASSWORD=

# DTN portal credentials for CITGO
DTN_CITGO_USERNAME=
DTN_CITGO_PASSWORD=

# DTN portal credentials for Valero
DTN_VALERO_USERNAME=
DTN_VALERO_PASSWORD=

# Browser automation
HEADLESS_BROWSER=true
DOWNLOAD_TIMEOUT_SECONDS=60
MAX_RETRIES=3